/* ChatGPT Ref: css/SettingsScreen.css */
.settings-screen {
  height: 100%;
  overflow: auto;
  text-align: left;
  padding: 0 5%;
  font-family: 'Arial', sans-serif;
  background-color: #F2F2F7;
}

h1 {
  font-size: 2.5em;
  color: #6C757D;
}

h3 {
  color: #6C757D;
}

h4 {
  color: #495057;
}

button {
  background-color: #A3B1F6;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius:  5px;
}

button:hover {
  background-color: #8D99AE;
}

.settings-screen-difficulty,
.settings-screen-mode,
.settings-screen-kanjiset {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.settings-screen-difficulty {
  color: #FF6B6B;
}

.settings-screen-mode {
  color: #000;
}

.settings-screen-kanjiset {
  color: #1EAD84;
  font-weight: 700;
}

.kanji-group {
  margin-top: 10px;
}

.kanji-group div {
  margin-top: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.settings-screen-f11 {
  position: absolute;
  right:  10%;
  top: 5px;
  color: darkred;
}

.members-only {
  border-radius: 5px;
  width: 30%;
  background-color: rgba(255,0,0,0.3); /* white background with 70% opacity */
  position: relative; /* Set position to relative so that the ::before pseudo-element is relative to this element */
  pointer-events: none; /* Disable all click, state and cursor options */
  cursor: not-allowed; /* Display a "not-allowed" cursor on hover */
}

.members-only::before {
  content: ''; /* This is necessary for the pseudo-element to work */
  display: block; 
  position: absolute; /* Absolute position to the .members-only div */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(60deg, transparent 95%, rgba(255,255,255,0.3) 45%, rgba(255,255,255,0.3) 55%, transparent 55%, transparent), linear-gradient(-45deg, transparent 45%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.5) 55%, transparent 55%, transparent);
  background-size: 1rem 1rem;
}
