/* ChatGPT Ref: ./src/css/SettingsScreen.css */
.settings-screen {
  height: 100%;
  overflow: auto;
  padding: 0 5%;
}

.settings-screen-difficulty {
  width: 50%;
  color: darkred;
  background-color: white;
  font-size: 30px;
}

.settings-screen-mode {
  width: 49%;
  color: burlywood;
  background-color: white;
  font-size: 30px;
}
